<template>
  <div>
    <div class="bg-nav">
      <div class="nav-bar">
        <b-container>
          <h2 class="color-white py-4"><img src="@/assets/pin-white.png" class="mr-2 img-pin"/>Search near place</h2>
        </b-container>
      </div>
    </div>
    <b-container class="border-body">
      <!-- input coordinates and radius -->
      <b-row class="m-0">
        <b-col cols="12" md="6">
          <b-form-input type="text" v-model="coordinates" placeholder="coordinate" class="input-text" required></b-form-input>
        </b-col>
        <b-col cols="12" md="6">
          <b-form-input type="number" v-model="radius" placeholder="radius​" class="input-text" required></b-form-input>
        </b-col>
        <b-col cols="12" class="text-center">
          <button class="btn-submit" @click="searchPlace()">Search</button>
        </b-col>
      </b-row>
      <!-- show map and value -->
      <b-row class="m-0 mt-3">
        <b-col cols="12" md="6" class="p-0">
          <GmapMap :center="currentLocation" ref="map" :zoom="12" map-type-id="terrain" style="width: 100%;height: 450px;">
            <GmapMarker :position="marker" :clickable="true" :draggable="false" :icon="customerIcon"/>  
            <span v-for="place in places" :key="place.id">
              <GmapMarker v-if="place.clicked"
              :position="getMarker(place.geometry.location.lat,place.geometry.location.lng)" 
              :clickable="true" :draggable="false" :icon="customerIconSelect"/> 
              <GmapMarker v-else :position="getMarker(place.geometry.location.lat,place.geometry.location.lng)" 
              :clickable="true" :draggable="false" :icon="customerIcon"/>  
            </span>
          </GmapMap> 
        </b-col>
        <b-col cols="12" md="6" class="height-list-map">
          <b-row v-for="place in places" :key="place.id" class="m-0 list-map pointer" @click="relatePlace(place.geometry.location.lat,place.geometry.location.lng)" :class="{ 'active' : place.clicked }">
            <b-col v-if="place == null">
              <p>No Result</p>
            </b-col>
            <b-col cols="4" class="pr-0">
              <div v-if="place.photos != null">
                 <img :src="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=' + place.photos[0].photo_reference + '&key=AIzaSyBYvKZCFEIRUB09PS1RKwhf-VDcRVSAjuo'" alt="" class="img-place"> 
              </div>
              <div v-else>
                <img src="@/assets/no-image.jpg" alt="" class="img-place">
              </div>
            </b-col>
            <b-col cols="8">
              <label class="title" v-text="place.name"></label>
              <label class="description" v-text="getDistance(place.geometry.location.lat,place.geometry.location.lng)+ ' KM'"></label>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
    <div class="footer text-center">
      <small>© 2020 ALL RIGHT RESERVED.</small>
    </div>
  </div>
</template>

<script>
import {gmapApi} from 'vue2-google-maps'
import * as geolib from 'geolib';
export default {
  data () {
    return {
      coordinates:"",
      type: "",
      radius: "",
      places: [],
      currentLocation : { lat : 0, lng : 0},
      marker: {
        lat: 0,
        lng: 0
      },
      markers: {
        lat: 0,
        lng: 0
      },
      customerIcon: {
        url: require('@/assets/pin-purple1.png'),
        scaledSize: {
          width: 28,
          height: 30,
          f: 'px',
          b: 'px'
        }
      },
      customerIconSelect: {
        url: require('@/assets/pin-selected.png'),
        scaledSize: {
          width: 35,
          height: 37,
          f: 'px',
          b: 'px'
        }
      },
    }
  }, 
  mounted(){
    this.geolocation()
  },
  methods: {
    geolocation(){
      navigator.geolocation.getCurrentPosition((position) => {
        this.currentLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
        this.marker = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        this.geolocation = position.coords.latitude+','+position.coords.longitude
      });
    },
    getMarker(lat,lng){
      let markers = {
        lat: lat,
        lng: lng
      };
      return markers
    },
    searchPlace(){
      this.$http.get(`https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=${this.coordinates}&radius=${this.radius *
        1000}&key=AIzaSyBYvKZCFEIRUB09PS1RKwhf-VDcRVSAjuo`).then(result => {
        
        this.places = result.body.results;
        console.log(this.places )
        this.getDistance();
        this.getMarker();
      }, error => {
        console.log(error);
      });
    },
    getDistance(lat,lng){
      this.coordinates
      var coordinate = this.coordinates;
      var value = coordinate.split(",");

      var distance = geolib.getDistance(
      { latitude: value[0], longitude: value[1] },
      { latitude: lat, longitude: lng })/1000

       return distance;
    },
    relatePlace(lat,lng){
      var valuePlace = []
      this.places.forEach((value, index) => {
        if(value.geometry.location.lat == lat && value.geometry.location.lng == lng){
          value.clicked = true
        }else{
          value.clicked = false
        }
        valuePlace.push(value)
      });
      this.places = valuePlace;
    }
  },
  computed: {
    google: gmapApi,
  }
}
</script>
<style scoped>
.pointer{
  cursor: pointer;
}
.img-place{
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.bg-nav{
  background: linear-gradient(90deg, rgba(73,68,170,1) 0%, rgba(148,48,134,1) 100%);
  height: 200px;
}
.border-body{
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
  transform: translate(0px, -100px);
  background-color: #f8fafd; ;
  padding: 30px 15px;
}
.input-text{
  border-radius: 25px; 
  margin-bottom: 10px;
}
.btn-submit{
  border-radius: 25px;
  margin: 10px 0;
  padding: 8px 30px;
  background: linear-gradient(90deg, rgba(148,48,134,1) 0%, rgba(148,48,134,0.7707457983193278) 100%);
  border: none;
  color: white;
  font-weight: bold;
  border: 1px solid #953387;
}
.btn-submit:hover{
  color: #953387;
  background: transparent;
  border: 1px solid #953387;
}
.input-text:focus{
  border-color: #943086; 
  outline: none !important;
  box-shadow: none;
}
.btn-submit:focus{
  outline: none !important;
  box-shadow: none;
  border-color: none;
}
.height-list-map{
  height: 450px;
  overflow: auto;
}
.list-map{
  border: none;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 3px 7px -3px rgba(0,0,0,0.3);
  margin-bottom: 20px !important;
}
.color-white{
  color: white;
}
.footer{
  padding: 10px 0;
  color: white;
  background: linear-gradient(90deg, rgba(73,68,170,1) 0%, rgba(148,48,134,1) 100%);
}
.title{
  font-size: 1.1rem;
}
.description{
  font-size: 0.8rem;
  display: block;
}
.height-list-map::-webkit-scrollbar-track
{
	border-radius: 10px;
  background-color: #ddeaef;
}

.height-list-map::-webkit-scrollbar
{
	width: 10px;
  background-color: #ddeaef;
  border-radius: 10px;
}

.height-list-map::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: linear-gradient(90deg, rgba(148,48,134,1) 0%, rgba(148,48,134,0.7707457983193278) 100%);
}
.list-map:hover, .list-map.active{
  border: 2px solid #953387;
  transform: scale(1.03);
}
.img-pin{
  width: 40px;
}
@media (max-width:575px) {
  .border-body{
    width: 90%;
  }
}
</style>
